* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .footer {
    min-height: 150px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: rgb(83, 80, 80);
    color: rgb(255, 255, 255);
  }
  
  .icons .fa-brands {
    color: rgb(255,255,153);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 20px;
  }
  
  .i {
    color: #f44336;
  }
  
  @media (prefers-color-scheme: dark) {
    .footer {
      background: black;
      color: white;
      min-height: 100px;
    }
  }